<template>
  <div class="content-carousel">
    <div class="content-txt">
      <p :class="banner.id == 1 ? 'txt-first' : 'txt'">{{ banner.txtTop }}</p>
      <p :class="banner.id == 1 ? 'txt-first' : 'txt'">
        {{ banner.txtBottom }}
      </p>
    </div>
    <div class="content-btn">
      <nuxt-link to="/servicios">
        <button class="btn">
          {{ banner.txtBtn }}
        </button>
      </nuxt-link>
    </div>
  </div>
</template>
<script>
export default {
  name: "bannerCarousel",
  props: {
    banner: {}
  }
};
</script>
<style scoped>
.contet-carousel {
  @apply w-full flex flex-col justify-center items-center;
}
.content-txt {
  @apply w-full flex flex-col justify-center items-center;
}
.content-btn {
  @apply w-full flex flex-col justify-center items-center;
}
@media (min-width: 300px) {
  .txt {
    color: #fff;
    font-size: 16px;
    font-family: "Roboto Condensed", sans-serif;
    @apply font-bold uppercase tracking-0 text-center;
  }
  .txt-first {
    color: #01579b;
    font-size: 16px;
    font-family: "Roboto Condensed", sans-serif;
    @apply font-bold uppercase tracking-0 text-center;
  }
  .btn {
    color: #fff;
    border-color: #fff;
    font-size: 12px;
    font-family: "Roboto Condensed", sans-serif !important;
    @apply font-bold leading-21 uppercase mt-15 px-14 py-4 border-2;
  }
  .btn:hover {
    color: #fff;
    background-color: #01579b;
    border-color: #01579b;
  }
}
@media (min-width: 768px) {
  .txt,
  .txt-first {
    font-size: 36px;
  }
  .btn {
    font-size: 16px;
    @apply mt-40 px-22 py-9;
  }
}
@media (min-width: 1024px) {
  .txt,
  .txt-first {
    font-size: 55px;
  }
  .btn {
    font-size: 18px;
    @apply mt-68;
  }
}
</style>
