<template>
  <div class="content-carousel">
    <div v-swiper:mySwiper="swiperOption" ref="mySwiper">
      <div class="swiper-wrapper">
        <div
          class="swiper-slide"
          :id="`slide${index + 1}`"
          v-for="(banner, index) in this.Banners"
          :key="index"
        >
          <CarouselContent
            class="banner-component"
            :banner="banner"
          ></CarouselContent>
        </div>
        <div class="swiper-button-prev" slot="button-prev"></div>
        <div class="swiper-button-next" slot="button-next"></div>
      </div>
    </div>
  </div>
</template>
<script>
import CarouselContent from "./banner-carousel";
export default {
  name: "carouselComponent",
  components: {
    CarouselContent
  },
  data() {
    return {
      swiperOption: {
        slidesPerView: "auto",
        loop: true,
        effect: "fade",
        grabCursor: true,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        },
        autoplay: {
          delay: 7000,
          disableOnInteraction: false
        }
      },

      Banners: [
        {
          id: 1,
          txtTop: "Disfruta sin preocupacion",
          txtBottom: "Cada momento que la vida te ofrece",
          txtBtn: "Servicios"
        },
        {
          id: 2,
          txtTop: "Experiencia y energia",
          txtBottom: "Para asegurarte momentos especiales",
          txtBtn: "Servicios"
        },
        {
          id: 3,
          txtTop: "Asegurando lo que mas quieres",
          txtBottom: "Tranquilidad para el futuro de tu familia",
          txtBtn: "Servicios"
        }
      ]
    };
  }
};
</script>
<style scoped>
.content-carousel,
.swiper-slide {
  @apply w-full flex justify-center items-center z-auto;
}
.banner-component {
  @apply w-full flex flex-col justify-center items-center;
}
#slide1 {
  background-image: url("https://res.cloudinary.com/demotemp/image/upload/c_scale,h_813,w_1200/v1620355310/Seguros%20DyC/Carousel/baner1_n9keq7.jpg");
  @apply bg-no-repeat bg-center bg-cover;
}
#slide2 {
  background-image: url("https://res.cloudinary.com/demotemp/image/upload/c_scale,h_813,w_1200/v1620355312/Seguros%20DyC/Carousel/baner2_xplpqv.jpg");
  @apply bg-no-repeat bg-center bg-cover;
}
#slide3 {
  background-image: url("https://res.cloudinary.com/demotemp/image/upload/c_scale,h_813,w_1200/v1620355314/Seguros%20DyC/Carousel/baner3_xm6yd5.jpg");
  @apply bg-no-repeat bg-center bg-cover;
}
@media (min-width: 300px) {
  #slide1 {
    height: 400px;
  }
  #slide2 {
    height: 400px;
  }
  #slide3 {
    height: 400px;
  }
}
@media (min-width: 768px) {
  #slide1 {
    height: 600px;
  }
  #slide2 {
    height: 600px;
  }
  #slide3 {
    height: 600px;
  }
}
@media (min-width: 1024px) {
  #slide1 {
    height: 900px;
  }
  #slide2 {
    height: 900px;
  }
  #slide3 {
    height: 900px;
  }
}
</style>
