<template>
  <div class="content-footer">
    <div class="items-footer">
      <div class="items-left">
        <p class="txt title">Trayectoria impecable</p>
        <div class="separator"></div>
        <p class="txt">
          "Johana Paola Castro es gerente de D&C SEGUROS, inicio su carrera como
          asesora en formacion y desarrollo, donde sobresalió desde el primer
          año por sus excelentes resultados."
        </p>
      </div>
      <div class="items-right">
        <div class="separator"></div>
        <p class="txt">Desarrollado por komercia.co</p>
        <a
          href="https://komercia.co/"
          target="_blank"
          rel="noreferrer noopener"
        >
          <img
            class="logoKomercia"
            src="../assets/logo_komercia.svg"
            alt="LogoKomercia"
          />
        </a>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "footerComponent"
};
</script>
<style scoped>
.content-footer {
  background: #034f89;
  background: -moz-linear-gradient(top, #034f89 0%, #02a9d3 0%, #034f89 100%);
  background: -webkit-linear-gradient(
    top,
    #034f89 0%,
    #02a9d3 0%,
    #034f89 100%
  );
  background: linear-gradient(to bottom, #034f89 0%, #02a9d3 0%, #034f89 100%);
  @apply w-full flex flex-col justify-center items-center;
}
.separator {
  background-color: #02a9d3;
  @apply w-50 h-2;
}
@media (min-width: 300px) {
  .items-footer {
    @apply w-full grid grid-cols-1 gap-4 justify-center items-center py-40;
  }
  .items-left,
  .items-right {
    @apply w-full flex flex-col justify-center items-center text-center px-10;
  }
  .txt {
    color: #fff;
    font-family: "Roboto Condensed", sans-serif !important;
    @apply w-full text-16;
  }
  .title {
    font-family: "Roboto Condensed", sans-serif !important;
    @apply text-20 font-bold uppercase;
  }
  .logoKomercia {
    width: 150px;
    @apply h-auto;
  }
  .separator {
    @apply my-20;
  }
}
@media (min-width: 768px) {
  .items-footer {
    max-width: 1200px;
    @apply grid grid-cols-2 gap-4 py-80;
  }
}
</style>
