<template>
  <div class="content-header">
    <div class="content-items-header">
      <div class="content-logo">
        <img
          class="logo-header"
          src="https://res.cloudinary.com/demotemp/image/upload/v1620355309/Seguros%20DyC/logodyc_kzufnx.png"
          alt="logodyc"
        />
      </div>
      <div class="content-btns">
        <nuxt-link :to="btn.path" v-for="(btn, index) in LinksBtn" :key="index">
          <p
            v-if="btn.content"
            class="btn-header font-normal rounded-full border-2 border-white px-10 py-5"
          >
            <i class="icon-user">
              <svg
                class="svg-user"
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 0 24 24"
                width="24px"
                fill="#000000"
              >
                <path d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"
                />
              </svg>
            </i>
            {{ btn.name }}
          </p>
          <p v-else class="btn-header">{{ btn.name }}</p>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      LinksBtn: [
        {
          id: 1,
          name: "Inicio",
          path: "/",
          content: false
        },
        {
          id: 2,
          name: "Nosotros",
          path: "/nosotros",
          content: false
        },
        {
          id: 3,
          name: "Servicios",
          path: "/servicios",
          content: false
        },
        {
          id: 4,
          name: "Respaldo",
          path: "/respaldo",
          content: false
        },
        {
          id: 5,
          name: "Pagos",
          path: "/pagos",
          content: false
        },
        {
          id: 6,
          name: "Contacto",
          path: "/contacto",
          content: true
        }
      ]
    };
  }
};
</script>

<style>
.content-header {
  background: rgba(224, 228, 232, 0.65);
  @apply w-full flex flex-col justify-center items-center;
}
@media (min-width: 300px) {
  .content-items-header {
    max-width: 1200px;
    top: 0px;
    @apply w-full flex flex-row justify-between items-center py-20;
  }
  .content-logo {
    @apply w-auto flex flex-col justify-center items-center;
  }
  .logo-header {
    width: 200px;
    @apply h-auto;
  }
  .content-btns {
    @apply hidden;
  }
  .btn-header {
    font-family: "Roboto Condensed", sans-serif !important;
    color: #01579b;
    letter-spacing: 1px;
    @apply w-auto flex flex-row justify-center items-center uppercase font-bold text-16;
  }
  .btn-header:hover {
    color: #32c5d2;
  }
  .svg-user {
    fill: #01579b;
    @apply w-18 h-auto;
  }
  .btn-header:hover .svg-user {
    fill: #32c5d2;
  }
}
@media (min-width: 1024px) {
  .content-header {
    top: 0px;
    @apply fixed;
  }
  .content-btns {
    @apply w-auto grid grid-cols-6 gap-2 justify-center items-center;
  }
  .content-items-header {
    @apply px-10;
  }
}
@media (min-width: 1200px) {
  .content-items-header {
    max-width: 1200px;
    @apply px-0 py-40;
  }
  .logo-header {
    width: 200px;
    @apply h-auto;
  }
  .btn-header {
    @apply text-16;
  }
}
</style>
