<template>
  <div class="component-section">
    <div class="items-section">
      <div class="content-title">
        <p class="txt-title">Nuestros Productos</p>
      </div>
      <div class="content-logo">
        <img
          class="logo"
          src="https://res.cloudinary.com/demotemp/image/upload/v1620355309/Seguros%20DyC/logodyc_kzufnx.png"
          alt="logodyc"
        />
      </div>
      <section class="content-grid-section">
        <div
          class="content-grid"
          v-for="(item, index) in this.itemsGrid"
          :key="index"
        >
          <section class="content-card">
            <div class="content-grid-left">
              <img class="icon" :src="item.icon" alt="icon-section" />
            </div>
            <div class="content-grid-right">
              <p class="txt-card-title">{{ item.title }}</p>
              <p class="txt-card-description">{{ item.description }}</p>
            </div>
          </section>
          <nuxt-link class="my-10" to="/servicios">
            <button class="btn">Ver detalles</button>
          </nuxt-link>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
export default {
  name: "sectionComponent",
  data() {
    return {
      itemsGrid: [
        {
          id: 1,
          title: "Seguro de autos",
          description:
            "Los seguros de autos están diseñados a la medida de tus necesidades para que vivas UNA EXPERIENCIA DE SERVI- CIOS COMPLETA.",
          icon:
            "https://res.cloudinary.com/demotemp/image/upload/c_scale,h_128,w_128/v1620365111/Seguros%20DyC/SectionGrid/item1_l3a52p.png"
        },
        {
          id: 2,
          title: "Seguro de motos",
          description:
            "Disfruta de tu moto sin preocupaciones, obtén excelentes asistencias y beneficios cuando más lo necesitas.",
          icon:
            "https://res.cloudinary.com/demotemp/image/upload/c_scale,h_128,w_128/v1620365112/Seguros%20DyC/SectionGrid/item2_oc4ewf.png"
        },
        {
          id: 3,
          title: "Seguro de hogar",
          description:
            "Dentro de tu hogar proteges lo que más quieres. Un lugar donde residen los sentimientos.",
          icon:
            "https://res.cloudinary.com/demotemp/image/upload/c_scale,h_128,w_128/v1620365111/Seguros%20DyC/SectionGrid/item3_woz5ne.png"
        },
        {
          id: 4,
          title: "Seguro de vida",
          description:
            "El seguro de vida cuenta con varias coberturas para proteger al asegurado en caso de fallecimiento, enfermedad o accidente.",
          icon:
            "https://res.cloudinary.com/demotemp/image/upload/c_scale,h_128,w_128/v1620365112/Seguros%20DyC/SectionGrid/item4_semtct.png"
        },
        {
          id: 5,
          title: "Seguro de salud",
          description:
            "Disfruta sin preocupacion cada momento que la vida te ofrece; porque tenemos para ti soluciones en salud que te acompañan siempre.",
          icon:
            "https://res.cloudinary.com/demotemp/image/upload/c_scale,h_128,w_128/v1620365111/Seguros%20DyC/SectionGrid/item5_jkqewn.png"
        },
        {
          id: 6,
          title: "Seguro educación",
          description:
            "EL seguro de educación te permite recibir en el futuro y de forma garantizada sumas de dinero: Renta Educativa.",
          icon:
            "https://res.cloudinary.com/demotemp/image/upload/c_scale,h_128,w_128/v1620365111/Seguros%20DyC/SectionGrid/item6_ncht1b.png"
        }
      ]
    };
  }
};
</script>

<style scoped>
.component-section {
  @apply w-full flex flex-col justify-center;
}
@media (min-width: 300px) {
  .items-section {
    max-width: 1200px;
    @apply w-full flex flex-col justify-center items-center py-20 px-20;
  }
  .content-title {
    @apply w-full flex flex-col justify-center items-center pb-30;
  }
  .txt-title {
    color: #3f444a;
    @apply w-full flex flex-col justify-center items-center font-bold uppercase text-20;
  }
  .content-logo {
    @apply w-full flex flex-col justify-center items-center;
  }
  .logo {
    @apply w-full h-auto;
  }
  .content-grid-section {
    @apply w-full grid grid-cols-1 gap-4 justify-center items-center py-20;
  }
  .content-card {
    @apply w-full h-full flex flex-row justify-start items-start pb-20;
  }
  .content-grid {
    background-color: #fff;
    @apply w-full h-full flex flex-col justify-center items-center border shadow-md p-20;
  }
  .content-grid-left {
    width: auto;
    @apply h-full flex flex-col justify-start items-start;
  }
  .icon {
    width: 60px;
    @apply h-auto;
  }
  .content-grid-right {
    @apply w-full flex flex-col justify-center items-start pl-12;
  }
  .txt-card-title {
    color: #3f444a;
    font-family: "Roboto Condensed", sans-serif !important;
    @apply w-full text-18 font-bold uppercase pb-10;
  }
  .txt-card-description {
    color: #3f444a;
    font-family: "Roboto Condensed", sans-serif !important;
    @apply w-full text-14 font-normal;
  }
  .btn {
    color: #32c5d2;
    border-color: #32c5d2;
    @apply w-auto px-20 py-5 border rounded;
  }
  .btn:hover {
    background-color: #32c5d2;
    color: #fff;
    cursor: pointer;
  }
}
@media (min-width: 768px) {
  .content-grid-section {
    @apply grid grid-cols-2 gap-4 justify-start items-start;
  }
  .txt-title {
    @apply text-30;
  }
  .icon {
    width: 100px;
    @apply h-auto;
  }
  .txt-card-title {
    @apply text-25;
  }
  .txt-card-description {
    @apply text-18;
  }
  .content-grid-right {
    @apply pl-20;
  }
  .btn {
    @apply text-18 px-20 py-5;
  }
}
@media (min-width: 1024px) {
  .content-grid-section {
    @apply grid grid-cols-2 gap-6;
  }
  .items-section {
    @apply py-60;
  }
  .txt-title {
    @apply text-35;
  }
  .txt-card-title {
    @apply text-30;
  }
  .txt-card-description {
    @apply text-22;
  }
}
@media (min-width: 1200px) {
  .content-grid-section {
    @apply grid grid-cols-3 gap-6;
  }
  .items-section {
    @apply py-60 px-0;
  }
}
</style>
