<template>
  <div class="content-index">
    <Header class="component"></Header>
    <Nuxt></Nuxt>
    <Footer class="component"></Footer>
  </div>
</template>
<script>
import Header from "../components/Header";
import Footer from "../components/Footer";

export default {
  name: "nuxtComponents",
  components: { Header, Footer }
};
</script>
<style scoped>
@media (min-width: 300px) {
  .content-index {
    background-color: #f7f7f7;
  }
  .component {
    @apply w-full flex justify-center items-center z-50;
  }
}
</style>
