<template>
  <div class="content-contact">
    <div class="items-contact">
      <div class="content-banner">
        <img
          class="bannerContact"
          src="https://res.cloudinary.com/demotemp/image/upload/v1620406032/Seguros%20DyC/Contacto/head_gjylzp.jpg"
          alt="bannerContact"
        />
      </div>
      <section class="content-grid-section">
        <div class="section-left">
          <p class="txt-left">Comunicate con nosotros</p>
          <div class="separator"></div>
          <div class="content-logo">
            <img
              class="logo"
              src="https://res.cloudinary.com/demotemp/image/upload/v1620355309/Seguros%20DyC/logodyc_kzufnx.png"
              alt="logodyc"
            />
          </div>
        </div>
        <div class="section-right">
          <p class="txt-right title">D&C Seguros</p>
          <p class="txt-title-right">Email</p>
          <p class="txt-right">gerencia@segurosdyc.com</p>
          <p class="txt-right">automoviles@segurosdyc.com</p>
          <p class="txt-title-right">Telefono</p>
          <p class="txt-right">-(8) 664 7882</p>
          <p class="txt-right">-320 451 5497</p>
          <p class="txt-right">- 313 387 5103</p>
          <p class="txt-title-right">Dirección</p>
          <p class="txt-right">Cra 41 No. 18 - 11 Villa Maria.</p>
          <p class="txt-right">Villavicencio - Meta</p>
          <p class="txt-title-right">Visitanos</p>
          <iframe
            class="content-map"
            src="https://www.google.com/maps/d/u/0/embed?mid=1rTDpgcvcCbCZTljCb152pBT9EYo"
            width="100%"
            height="250"
            frameborder="0"
            style="border: 0;"
            allowfullscreen
          ></iframe>
        </div>
      </section>
    </div>
  </div>
</template>
<script>
export default {};
</script>
<style scoped>
.content-contact {
  @apply w-full flex flex-col justify-center items-center;
}
.separator {
  background-color: #02a9d3;
  @apply w-50 h-2;
}
@media (min-width: 300px) {
  .items-contact {
    @apply w-full flex flex-col justify-center items-center;
  }
  .content-banner {
    @apply w-full flex flex-col justify-center items-center;
  }
  .bannerContact {
    @apply w-full object-cover;
  }
  .content-grid-section {
    @apply w-9/0 grid grid-cols-1 gap-4 justify-center items-center;
  }
  .section-left {
    background-color: #fff;
    background-image: url(https://res.cloudinary.com/demotemp/image/upload/v1620406344/Seguros%20DyC/Contacto/feedback_box_2_tuvxup.png);
    @apply w-full flex flex-col justify-center items-center bg-auto bg-no-repeat bg-center bg-right-bottom py-20 shadow-md rounded;
  }
  .txt-left {
    color: #3f444a;
    font-family: "Roboto Condensed", sans-serif !important;
    @apply w-full flex flex-col justify-center items-center uppercase font-bold text-18;
  }
  .separator {
    @apply my-20;
  }
  .content-logo {
    @apply w-full flex flex-col justify-center items-center;
  }
  .logo {
    @apply w-full h-auto;
  }
  .section-right {
    @apply w-full flex flex-col justify-center items-start text-left;
  }
  .title {
    font-family: "Roboto Condensed", sans-serif !important;
    @apply text-20 font-bold pb-20;
  }
  .txt-right {
    color: #3f444a;
    font-family: "Roboto Condensed", sans-serif !important;
    @apply w-full;
  }
  .txt-title-right {
    color: #fff;
    background-color: #02a9d3;
    font-family: "Roboto Condensed", sans-serif !important;
    @apply w-auto uppercase font-bold px-10 mt-15;
  }
  .content-map {
    @apply mt-10;
  }
}
@media (min-width: 768px) {
  .content-grid-section {
    @apply w-9/0 grid grid-cols-2 gap-6 justify-center items-start py-40;
  }
}
@media (min-width: 1024px) {
  .content-grid-section {
    max-width: 1200px;
    @apply w-full grid grid-cols-2 gap-6 justify-center items-start;
  }
  .txt-left {
    @apply flex flex-col justify-center items-start;
  }
  .section-left {
    @apply flex flex-col justify-center items-start py-40 pl-20;
  }
  .logo {
    width: 300px;
    @apply h-auto;
  }
  .content-logo {
    @apply flex flex-col justify-center items-start;
  }
  .bannerContact {
    height: 250px;
  }
}
</style>
