<template>
  <div class="content-index">
    <Carousel class="component z-10"></Carousel>
    <Section class="component z-10"></Section>
  </div>
</template>

<script>
import Carousel from "../components/Carousel/Carousel";
import Section from "../components/Section";

export default {
  name: "routerComponent",
  components: { Carousel, Section }
};
</script>

<style scoped>
.content-index {
  @apply w-full flex flex-col justify-center items-center;
}
@media (min-width: 300px) {
  .component {
    @apply w-full flex justify-center items-center;
  }
}
</style>
