<template>
  <div class="content-aboutUs">
    <div class="items-aboutUs">
      <div class="content-banner">
        <img
          class="banner"
          src="https://res.cloudinary.com/demotemp/image/upload/v1620427107/Seguros%20DyC/Nosotros/bg-9_vv5nhq.jpg"
          alt="bannerImage"
        />
      </div>
      <div class="content-logo">
        <img
          class="logo"
          src="https://res.cloudinary.com/demotemp/image/upload/v1620355309/Seguros%20DyC/logodyc_kzufnx.png"
          alt="logodyc"
        />
      </div>
      <section class="content-section">
        <div class="item-section">
          <p class="title">10 AÑOS DE TRAYECTORIA</p>
          <div class="separator"></div>
          <p class="description">
            Johana Paola Castro es gerente de D&C SEGUROS, inicio su carrera
            como asesora en formacion y desarrollo, donde sobresalió desde el
            primer año por sus excelentes resultados.<br />

            Dos años despues ingresa en la estrategia Asesor en Convivencia,
            donde continúa su proceso de crecimiento como Asesor Profesional.
            Como consecuencia de la amplia aceptación dentro del mercado
            asegurador en la ciudad de Villavicencio vío la necesidad de
            constituir su propia empresa. En la actualidad forma el selecto
            grupo de Asesores ACOGE.
          </p>
        </div>
        <div class="item-section">
          <p class="title">NUESTROS LOGROS:</p>
          <div class="separator"></div>
          <div class="objects-section">
            <ul class="list-disc list-inside">
              <li class="list-description ">
                Primer Lugar Categoria Bronce Opcion Multiproducto NDLM - 2011
              </li>
              <li class="list-description">
                Campeon Categoria Bronce Multiproducto - 2011
              </li>
              <li class="list-description">
                Mejor Asesor en Produccion y Opciones para NDLM Regional Centro
                - 2012 - 2013
              </li>
              <li class="list-description">
                Mejor Asesor Cumplimiento Regional Centro NDLM - 2013
              </li>
            </ul>
            <ul class="list-disc list-inside">
              <li class="list-description">
                Sexto Lugar Categoria Nacional Vida Grupo - 2013
              </li>
              <li class="list-description">
                Campeón Oro Categoria Nacional Multiproducto - 2013
              </li>
              <li class="list-description">
                Mejor Asesor Segmento Empresarios NDLM - 2014
              </li>
              <li class="list-description">
                Mejor Asesor NDLM Regional Centro - 2014
              </li>
              <li class="list-description">
                Mejor Asesor Segmento Estategia ACOGE Regional Centro NDLM -
                2014
              </li>
            </ul>
          </div>
        </div>
        <div class="item-section">
          <p class="title">MISIÓN</p>
          <div class="separator"></div>
          <p class="description">
            DYC SEGUROS es un equipo multidisciplinario que trabaja para
            alcanzar y avanzar constantemente como agencia aseguradora,
            desarrollando la mejor relación de valor con nuestros clientes,
            brindando asesoría en seguros, con las mejores coberturas que
            garanticen la protección de su patrimonio corporativo y personal,
            para construir el bien común social con nuestros proveedores, y la
            sociedad teniendo en cuenta una actuación ética como eje de su
            comportamiento y enfoque socialmente responsable en todas sus
            actividades y compromisos a largo plazo.
          </p>
        </div>
        <div class="item-section">
          <p class="title">VISIÓN</p>
          <div class="separator"></div>
          <p class="description">
            Ser la agencia aseguradora líder de los llanos Orientales en
            preferencia y confianza para el año 2020, consolidándose como la
            mejor opción en elección para la protección de su patrimonio,
            ofreciendo soluciones innovadoras y efectivas que generen y
            garanticen la satisfacción en cobertura de las necesidades de
            seguros de nuestros clientes, con integridad y excelencia.
          </p>
        </div>
      </section>
    </div>
  </div>
</template>
<script>
export default {
  name: "aboudUsComponent"
};
</script>
<style scoped>
.content-aboutUs {
  @apply w-full flex flex-col justify-center items-center;
}
.separator {
  background-color: #02a9d3;
  @apply w-50 h-2;
}
@media (min-width: 300px) {
  .items-aboutUs {
    @apply w-full flex flex-col justify-center items-center;
  }
  .content-banner {
    @apply w-full flex flex-col justify-center items-center;
  }
  .banner {
    @apply w-full object-cover object-center;
  }
  .content-logo {
    @apply w-full flex flex-col justify-center items-center mt-20;
  }
  .logo {
    @apply w-full h-auto;
  }
  .content-section {
    @apply w-9/0 flex flex-col justify-center items-center my-20;
  }
  .item-section {
    @apply w-full flex flex-col justify-center items-center;
  }
  .separator {
    @apply my-20;
  }
  .title {
    color: #3f444a;
    font-family: "Roboto Condensed", sans-serif !important;
    @apply w-full flex flex-col justify-center items-center text-center font-bold uppercase text-30 mt-20;
  }
  .description {
    color: #5c6873;
    font-family: "Roboto Condensed", sans-serif !important;
    @apply w-full flex flex-col justify-center items-center text-justify text-17 my-10;
  }
  .list-description {
    color: #5c6873;
    font-family: "Roboto Condensed", sans-serif !important;
    @apply w-full justify-center items-center text-left text-17 my-10;
  }
  .list-description::marker {
    color: #02a9d3;
  }
  .objects-section {
    @apply w-full grid grid-cols-1 gap-0 justify-center items-center;
  }
}
@media (min-width: 1024px) {
  .banner {
    height: 140px;
  }
  .objects-section {
    @apply grid grid-cols-2 gap-6 items-start mb-60;
  }
  .items-aboutUs {
    max-width: 1200px;
    @apply w-full;
  }
  .title {
    @apply text-30 mt-20;
  }
  .description {
    @apply text-22 mt-10 mb-60;
  }
  .list-description {
    @apply text-22  mt-10;
  }
}
</style>
