<template>
  <div class="content-respaldo">
    <div class="items-respaldo">
      <div class="content-banner">
        <img
          class="bannerContact"
          src="https://res.cloudinary.com/demotemp/image/upload/v1620406032/Seguros%20DyC/Contacto/head_gjylzp.jpg"
          alt="bannerContact"
        />
      </div>
      <div class="content-menu">
        <div class="menu-service">
          <div class="menu-left">
            <p class="txt-menu-left">PAGO DE SEGUROS</p>
          </div>
          <div class="menu-right">
            <nuxt-link to="/pagos" class="txt-menu-right-link">
              Pagos
            </nuxt-link>
            <p class="txt-crumb">/</p>
            <p class="txt-menu-right">Aseguradoras</p>
          </div>
        </div>
      </div>
      <section class="grid-section">
        <div v-for="(item, index) in seguros" :key="index">
          <a :href="item.path" target="_blank">
            <img class="image" :src="item.url" alt="segurosImage" />
          </a>
        </div>
      </section>
    </div>
  </div>
</template>
<script>
export default {
  name: "respaldoComponent",
  data() {
    return {
      seguros: [
        {
          id: 1,
          url:
            "https://res.cloudinary.com/demotemp/image/upload/v1620424143/Seguros%20DyC/Respaldo/sura_r0rtpt.png",
          path: "http://www.sura.com/"
        },
        {
          id: 2,
          url:
            "https://res.cloudinary.com/demotemp/image/upload/v1620424144/Seguros%20DyC/Respaldo/confianza_fx12jm.jpg",
          path: "https://www.confianza.com.co/"
        },
        {
          id: 3,
          url:
            "https://res.cloudinary.com/demotemp/image/upload/v1620424143/Seguros%20DyC/Respaldo/solidaria_i29pyv.jpg",
          path:
            "https://www.aseguradorasolidaria.com.co/empresa-seguros-colombia"
        },
        {
          id: 4,
          url:
            "https://res.cloudinary.com/demotemp/image/upload/v1620424143/Seguros%20DyC/Respaldo/bolivar_yzesqy.jpg",
          path: "http://www.segurosbolivar.com.co/"
        },
        {
          id: 5,
          url:
            "https://res.cloudinary.com/demotemp/image/upload/v1620424144/Seguros%20DyC/Respaldo/mapfre1_br2pt6.png",
          path:
            "http://www.mapfre.com.co/es/web/mapfre-personas;jsessionid=BF3552052CC4305A0E03CD69F104A1DB#5/"
        },
        {
          id: 6,
          url:
            "https://res.cloudinary.com/demotemp/image/upload/v1620424145/Seguros%20DyC/Respaldo/estado_o2y0qp.jpg",
          path: "http://www.segurosdelestado.com/"
        }
      ]
    };
  }
};
</script>
<style scoped>
.content-respaldo {
  @apply w-full flex flex-col justify-center items-center;
}
.separator {
  background-color: #02a9d3;
  @apply w-50 h-2;
}
@media (min-width: 300px) {
  .items-respaldo {
    @apply w-full flex flex-col justify-center items-center;
  }
  .content-banner {
    @apply w-full flex flex-col justify-center items-center;
  }
  .bannerContact {
    @apply w-full object-cover;
  }
  .content-menu {
    background-color: #efefef;
    @apply w-full flex flex-col justify-center items-center py-20;
  }
  .menu-service {
    max-width: 1200px;
    @apply w-full flex flex-row justify-between items-center;
  }
  .menu-left {
    @apply w-full flex flex-row justify-start items-center pl-20;
  }
  .menu-right {
    @apply w-full flex flex-row justify-end items-center pr-20;
  }
  .txt-menu-left {
    color: #3f4440;
    font-family: "Roboto Condensed", sans-serif !important;
    @apply w-full uppercase font-bold text-16 text-left;
  }
  .txt-crumb {
    color: #7f8c97;
    font-family: "Roboto Condensed", sans-serif !important;
    @apply w-auto font-normal text-16 mx-5;
  }
  .txt-menu-right-link {
    color: #7f8c97;
    font-family: "Roboto Condensed", sans-serif !important;
    @apply w-auto font-normal text-16;
  }
  .txt-menu-right-link:hover {
    color: #32c5d2;
    @apply cursor-pointer;
  }
  .txt-menu-right {
    color: #7f8c97;
    font-family: "Roboto Condensed", sans-serif !important;
    @apply w-auto font-normal text-16;
  }
  .grid-section {
    @apply w-9/0 grid grid-cols-1 gap-4 justify-center items-center my-40;
  }
  .image {
    background-color: #fff;
    @apply w-full h-auto shadow-md p-10 border;
  }
  .image:hover {
    border-color: #32c5d2;
    @apply border;
  }
}
@media (min-width: 768px) {
  .grid-section {
    @apply grid grid-cols-2 gap-4;
  }
}
@media (min-width: 1024px) {
  .bannerContact {
    height: 250px;
  }
  .grid-section {
    max-width: 1200px;
    @apply grid grid-cols-3 gap-4;
  }
}
</style>
