<template>
  <div class="content-aboutUs">
    <div class="items-aboutUs">
      <div class="content-banner">
        <img
          class="bannerContact"
          src="https://res.cloudinary.com/demotemp/image/upload/v1620406032/Seguros%20DyC/Contacto/head_gjylzp.jpg"
          alt="bannerContact"
        />
      </div>
      <div class="content-menu">
        <div class="menu-service">
          <div class="menu-left">
            <p class="txt-menu-left">Servicios</p>
          </div>
          <div class="menu-right">
            <nuxt-link to="/servicios" class="txt-menu-right-link">
              Servicios
            </nuxt-link>
            <p class="txt-crumb">/</p>
            <p class="txt-menu-right">Seguros</p>
          </div>
        </div>
      </div>
      <section class="content-section">
        <p class="txt-title-section">Nuestros productos</p>
        <div class="separator"></div>
        <div class="items-section">
          <div class="content-img">
            <img
              class="image"
              src="https://res.cloudinary.com/demotemp/image/upload/v1620415093/Seguros%20DyC/servicios/secretaria-cuerpo-transporte-de-personal_cjpnl8.png"
              alt="scretaryImg"
            />
          </div>
          <div class="items-grid-section">
            <div class="grid-item">
              <p class="txt-tittle">SEGURO DE AUTOS</p>
              <p class="txt-description">
                Los seguros de autos están diseñados a la medida de tus
                necesidades para que vivas UNA EXPERIENCIA COMPLETA.
              </p>
              <p></p>
            </div>
            <div class="grid-item">
              <p class="txt-tittle">SEGURO DE MOTOS</p>
              <p class="txt-description">
                Disfruta de tu moto sin preocupaciones, obtén excelentes
                asistencias y beneficios cuando más lo necesitas.
              </p>
              <p></p>
            </div>
            <div class="grid-item">
              <p class="txt-tittle">SEGURO DE HOGAR</p>
              <p class="txt-description">
                Dentro de tu hogar proteges lo que más quieres. Un lugar donde
                residen los sentimientos.
              </p>
              <p></p>
            </div>
            <div class="grid-item">
              <p class="txt-tittle">SEGURO DE VIDA</p>
              <p class="txt-description">
                El seguro de vida cuenta con varias coberturas para proteger al
                asegurado en caso de fallecimiento, enfermedad o accidente.
              </p>
              <p></p>
            </div>
          </div>
        </div>
        <nuxt-link to="/respaldo" class="btn">
          Quienes nos respaldan
        </nuxt-link>
      </section>
      <div class="content-download">
        <div class="item-download-left">
          <p class="txt-left-top">DESCARGA NUESTRO BROCHURE</p>
          <p class="txt-left-bottom">
            CONOCE TODOS NUESTROS PRODUCTOS Y SERVICIOS.
          </p>
        </div>
        <div class="item-download-right">
          <a
            href="../assets/img/brochure.pdf"
            target="_blank"
            class="btn-download"
            >Descargar</a
          >
        </div>
      </div>
      <div class="content-grid-brounche">
        <div v-for="(item, index) in gridColapse" :key="index">
          <img class="img-brounche" :src="item.url" alt="imageBrounche" />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Section from "../components/Section.vue";

export default {
  name: "servicesComponent",
  components: { Section },
  data() {
    return {
      gridColapse: [
        {
          id: 1,
          url:
            "https://res.cloudinary.com/demotemp/image/upload/v1620420312/Seguros%20DyC/servicios/bch1_csjny0.jpg"
        },
        {
          id: 2,
          url:
            "https://res.cloudinary.com/demotemp/image/upload/v1620420312/Seguros%20DyC/servicios/bch2_znysqs.jpg"
        },
        {
          id: 3,
          url:
            "https://res.cloudinary.com/demotemp/image/upload/v1620420312/Seguros%20DyC/servicios/bch3_bucxum.jpg"
        },
        {
          id: 4,
          url:
            "https://res.cloudinary.com/demotemp/image/upload/v1620420312/Seguros%20DyC/servicios/bch4_muskjm.jpg"
        },
        {
          id: 5,
          url:
            "https://res.cloudinary.com/demotemp/image/upload/v1620420312/Seguros%20DyC/servicios/bch5_tyjtvu.jpg"
        },
        {
          id: 6,
          url:
            "https://res.cloudinary.com/demotemp/image/upload/v1620420312/Seguros%20DyC/servicios/bch6_s3ewcj.jpg"
        },
        {
          id: 7,
          url:
            "https://res.cloudinary.com/demotemp/image/upload/v1620420312/Seguros%20DyC/servicios/bch7_gu5nrt.jpg"
        },
        {
          id: 8,
          url:
            "https://res.cloudinary.com/demotemp/image/upload/v1620420311/Seguros%20DyC/servicios/bch10_xzyg77.jpg"
        },
        {
          id: 9,
          url:
            "https://res.cloudinary.com/demotemp/image/upload/v1620420311/Seguros%20DyC/servicios/bch11_eizjlf.jpg"
        },
        {
          id: 10,
          url:
            "https://res.cloudinary.com/demotemp/image/upload/v1620420312/Seguros%20DyC/servicios/bch12_cify0z.jpg"
        },
        {
          id: 11,
          url:
            "https://res.cloudinary.com/demotemp/image/upload/v1620420311/Seguros%20DyC/servicios/bch14_c56lwv.jpg"
        },
        {
          id: 12,
          url:
            "https://res.cloudinary.com/demotemp/image/upload/v1620420311/Seguros%20DyC/servicios/bch15_blwt4c.jpg"
        },
        {
          id: 13,
          url:
            "https://res.cloudinary.com/demotemp/image/upload/v1620420311/Seguros%20DyC/servicios/bch16_sfwyiu.jpg"
        },
        {
          id: 14,
          url:
            "https://res.cloudinary.com/demotemp/image/upload/v1620420311/Seguros%20DyC/servicios/bch17_tsfdzo.jpg"
        },
        {
          id: 15,
          url:
            "https://res.cloudinary.com/demotemp/image/upload/v1620420311/Seguros%20DyC/servicios/bch18_wjp00k.jpg"
        }
      ]
    };
  }
};
</script>
<style scoped>
.content-aboutUs {
  @apply w-full flex flex-col justify-center items-center;
}
.separator {
  background-color: #02a9d3;
  @apply w-50 h-2;
}
@media (min-width: 300px) {
  .items-aboutUs {
    @apply w-full flex flex-col justify-center items-center;
  }
  .content-banner {
    @apply w-full flex flex-col justify-center items-center;
  }
  .bannerContact {
    @apply w-full object-cover;
  }
  .content-menu {
    background-color: #efefef;
    @apply w-full flex flex-col justify-center items-center py-20;
  }
  .menu-service {
    max-width: 1200px;
    @apply w-full flex flex-row justify-between items-center;
  }
  .menu-left {
    @apply w-full flex flex-row justify-start items-center pl-20;
  }
  .menu-right {
    @apply w-full flex flex-row justify-end items-center pr-20;
  }
  .txt-menu-left {
    color: #3f4440;
    font-family: "Roboto Condensed", sans-serif !important;
    @apply w-full uppercase font-bold text-16 text-left;
  }
  .txt-crumb {
    color: #7f8c97;
    font-family: "Roboto Condensed", sans-serif !important;
    @apply w-auto font-normal text-16 mx-5;
  }
  .txt-menu-right-link {
    color: #7f8c97;
    font-family: "Roboto Condensed", sans-serif !important;
    @apply w-auto font-normal text-16;
  }
  .txt-menu-right-link:hover {
    color: #32c5d2;
    @apply cursor-pointer;
  }
  .txt-menu-right {
    color: #7f8c97;
    font-family: "Roboto Condensed", sans-serif !important;
    @apply w-auto font-normal text-16;
  }
  .content-section {
    @apply w-9/0 flex flex-col justify-center items-center;
  }
  .txt-title-section {
    color: #3f4440;
    @apply w-full flex flex-col justify-center items-center text-center text-30 uppercase font-bold;
  }
  .separator {
    @apply my-20;
  }
  .items-section {
    @apply w-full flex flex-col justify-center items-center;
  }
  .content-img {
    @apply w-full flex flex-col justify-center items-center;
  }
  .items-grid-section {
    @apply w-full grid grid-cols-1 gap-4 justify-center items-center py-20;
  }
  .grid-item {
    @apply w-full flex flex-col justify-center items-start;
  }
  .txt-tittle {
    color: #3f4440;
    @apply text-18 font-bold uppercase;
  }
  .txt-description {
    color: #5c6873;
    @apply text-16 font-normal;
  }
  .btn {
    color: #7f8c97;
    border-color: #7f8c97;
    @apply w-auto flex justify-center items-center uppercase font-bold border-2 p-10 mt-20;
  }
  .btn:hover {
    background-color: #7f8c97;
    color: #fff;
  }
  .content-download {
    background-color: #2f353b;
    @apply w-full grid grid-cols-1 gap-4 justify-center items-center mt-30;
  }
  .item-download-left,
  .item-download-right {
    @apply w-full flex flex-col justify-center items-center;
  }
  .txt-left-top {
    color: #fff;
    @apply w-9/0 text-30 font-bold uppercase text-center mt-20 .leading-tight;
  }
  .txt-left-bottom {
    color: #fff;
    @apply w-9/0 text-16 uppercase text-center my-10;
  }
  .btn-download {
    color: #32c5d2;
    border-color: #32c5d2;
    @apply text-16 font-bold uppercase border-2 py-10 px-20 mb-20;
  }
  .btn-download:hover {
    background-color: #32c5d2;
    color: #fff;
    @apply cursor-pointer;
  }
}
@media (min-width: 768px) {
  .menu-left {
    @apply pl-40;
  }
  .menu-right {
    @apply pr-40;
  }
  .content-grid-brounche {
    @apply w-full grid grid-cols-2 gap-4 justify-center items-center;
  }
}
@media (min-width: 1024px) {
  .bannerContact {
    height: 250px;
  }
  .items-grid-section {
    @apply grid grid-cols-2 gap-6 items-start;
  }
  .btn {
    @apply py-10 px-20;
  }
  .items-section {
    @apply flex flex-row justify-center items-center;
  }
  .content-img {
    width: 60%;
  }
  .image {
    width: 300px;
    @apply h-auto;
  }
  .txt-tittle {
    @apply text-18;
  }
  .txt-description {
    @apply text-16;
  }
}
@media (min-width: 1200px) {
  .content-section {
    max-width: 1200px;
    @apply w-full my-40;
  }
  .txt-tittle {
    @apply text-20;
  }
  .txt-description {
    @apply text-18;
  }
  .content-grid-brounche {
    @apply grid grid-cols-3 gap-4;
  }
  .img-brounche {
    @apply w-full;
  }
}
</style>
